.hero {
    @apply w-full h-screen;
    background: var(--bg-linear);
    background-repeat: no-repeat;
    position: relative;
    @include d-flex(row, center, flex-start);

    .containere {
        width: 100%;
    }


    .photo {
        max-width: 500.65px;
        max-height: 540.83px;
        min-width: 380px;
        min-height: 320px;
        position: absolute;
        right: 50px;
        bottom: 0;
        animation: opac-right 2s linear;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            opacity: 80%;
        }
    }

    @keyframes opac-right {
        0% {
            position: absolute;
            right: -200px;
            bottom: 0;
        }

        100% {
            right: 50px;
        }
    }
}

.span-3 {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        left: 60px;
        animation: work 10s infinite 2.5s;
        width: 330px;
        color: var(--secondary);
    }

    @keyframes work {
        0% {
            content: "D";
        }

        3% {
            content: "De";
        }

        6% {
            content: "Dev";
        }

        9% {
            content: "Deve";
        }

        12% {
            content: "Devel";
        }

        15% {
            content: "Develo";
        }

        18% {
            content: "Develop";
        }

        21% {
            content: "Develope";
        }

        24% {
            content: "Developer";
        }

        27% {
            content: "Developer front-end";
        }

        39% {
            content: "";
        }



        42% {
            content: "W";
        }

        45% {
            content: "We";
        }

        48% {
            content: "Web";
        }

        51% {
            content: "Web designer";
        }


        60% {
            content: "";
        }

        63% {
            content: "I";
        }

        66% {
            content: "In";
        }

        69% {
            content: "Int";
        }

        72% {
            content: "Inte";
        }

        75% {
            content: "Integ";
        }

        78% {
            content: "Integr";
        }

        81% {
            content: "Integra";
        }

        84% {
            content: "Integrat";
        }

        87% {
            content: "Integrate";
        }

        91% {
            content: "Integrateu";
        }

        94% {
            content: "Integrateur";
        }

        95% {
            content: "Integrateur";
        }

        100% {
            content: "";
        }

    }

}

.card__title {
    width: 100%;
    @include grid(12);


}

.col-7 {
    grid-column: 2/span 7;
    @include d-flex(column, flex-start, flex-start);
    color: white;
    position: relative;
    gap: 10px;


    .card--text {
        @include d-flex(column, flex-start, flex-start);
        gap: 25px;

        .h3 {
            font-size: 36px;
        }
    }
}

.test {
    position: absolute;

    &::after {
        content: "";
        position: absolute;
        left: 20px;
    }
}

h4 {
    color: red;
}